.lead__title {
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 720px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
}

@media screen and (max-width: 767px){
    .lead__title{
        max-width: 400px;
        font-size: 50px;
        line-height: 54px;        
    }
}

@media screen and (max-width: 425px){
    .lead__title{
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;                      
    }
}