.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;    
}

@media screen and (max-width: 767px){
    .place__website{        
        gap: 12px;
    }    
} 