.lead__block{
    max-width: 984px;
    list-style: none;
    padding: 0;
    margin: 63px auto 0;
     
}

@media screen and (max-width: 1024px){
    .lead__block{
        max-width: calc(100% - (48px * 2));
        margin: 56px auto 0;        
    }

}


@media screen and (max-width: 768px){
    .lead__block{
        max-width: 100%;
    }

}
/*
@media screen and (max-width: 500px){
    .lead__block{
        margin: 48px auto 0;
    }

}
*/
@media screen and (max-width: 320px){
    .lead__block{
        margin: 40px auto 0;
    }

} 