.lead__block{
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 63px auto 0;     
}
 
@media screen and (max-width: 1279px){
    .lead__block{
        max-width: 100%;
        margin: 56px auto 0;        
    }
}

@media screen and (max-width: 767px){
    .lead__block{
        margin: 40px auto 0;
    }
} 