.photo-grid{
    max-width: calc(1280px - (48px * 2));
    list-style: none;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px){
    .photo-grid{
        max-width: calc(100% - (24px * 2));
        margin: 0 auto 88px;
    }
}

@media screen and (max-width: 767px){
    .photo-grid{
        max-width: calc(100% - (16px * 2));
        margin: 0 auto 64px;
    }
}