.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom:  56px;
    max-width: calc(100% - (48px * 2));
    gap: 18px;
}

@media screen and (max-width: 1279px){
    .header{
        padding-bottom: 48px;        
    }
}

@media screen and (max-width: 1023px){
    .header{
        max-width: calc(100% - (24px * 2));
    }
}
 
@media screen and (max-width: 767px){
    .header{
        padding-top: 16px;
        max-width: calc(100% - (16px * 2));
    }
}