.cover{
    margin: 0 auto 92px;
    max-width: 100%;
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 1279px){
    .cover{
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px){
    .cover{
        margin: 0 auto 89px;
    }
}

@media screen and (max-width: 767px){
    .cover{
       margin: 0 auto 64px;
    }
}