.footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
    max-height: 18px;
    padding-bottom: 24px;
    max-width: calc(100% - (48px * 2));
}

@media screen and (max-width: 1023px){
    .footer{        
        max-width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 767px){
    .footer{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #2A2C2F;
        row-gap: 32px;
        max-width: 320px;
        max-height: 310px;
        padding-bottom: 48px;
        max-width: calc(100% - (16px * 2));
    }
}