.cover__title {
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 1;
    position: relative;
    color: white;
    margin: 0 auto 32px;
}

@media screen and (max-width: 767px){
    .cover__title{
        margin: 0 auto 24px;
        max-width: 424px;
        font-size: 55px;
        line-height: 58px;
    }
} 

@media screen and (max-width: 560px){
    .cover__title{
        margin: 0 auto 16px;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
} 