.place__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 26px;
}

.place__paragraph:last-child{
    margin-bottom: 0;
}


@media screen and (max-width: 768px){
    .place__paragraph{
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 320px){
    .place__paragraph{
        font-size: 16px;
        line-height: 26px;
        margin: 0 16px 25px;
    }
}