.place {
    display: grid;
    grid-template: minmax(min-content, max-content) 1fr / min-content minmax(min-content, 1fr);
    gap: 48px 40px;
    margin-bottom: 80px;
    padding: 0;

}

@media screen and (max-width: 1024px){
    .place{
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px){
    .place{
        gap: 46px 28px;
        margin-bottom: 73px;
    }
}
 /*
@media screen and (min-width: 450px) and (max-width: 768px){
    .place{
        margin: 0 24px 73px;
        gap: 48px 28px;
    }
}

@media screen and (min-width: 321px) and (max-width: 449px){
    .place{
        margin: 0 24px 60px;
        gap: 38px;
    }
}
*/
@media screen and (max-width: 320px){
    .place{
        margin: 0 auto 50px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        row-gap: 35px;        
    }
    .place:last-child {
        margin: 0 auto;

    }    
} 