.place {
    display: grid;
    grid-template: minmax(min-content, max-content) 1fr / min-content minmax(min-content, 1fr);
    gap: 48px 40px;
    margin-bottom: 80px;
    padding: 0;
}

@media screen and (max-width: 1279px){
    .place{
        gap: 48px 32px;
    }
}

@media screen and (max-width: 1023px){
    .place{
        gap: 47px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 767px){
    .place{
        margin: 0 auto 50px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        row-gap: 32px;        
    }
    .place:last-child {
        margin: 0 auto;
    }    
} 