.places{
    margin: 0 auto 92px;    
    max-width: calc(100% - (148px * 2));
}
 
@media screen and (max-width: 1279px){
    .places{
        max-width: calc(100% - (48px * 2));
    }
}

@media screen and (max-width: 1023px){
    .places{
        max-width: calc(100% - (24px * 2));
    }
}

@media screen and (max-width: 767px){
    .places{
        margin: 0 auto 66px;
        max-width: 100%;
    }
}